/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Tela de Login */
.sidebar {
    height: 100vh;
}

.nav-link {
    color: white;
    font-size: 18px;
}

.nav-link.active, .nav-link:hover {
    background-color: #ff5757;
    color: white;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card {
    border-radius: 10px;
    border: 1px solid #ff5757;
}

.card-header {
    background-color: white;
    border-bottom: 1px solid #ff5757;
    font-weight: bold;
}

.card-body {
    color: #333;
}

.btn-outline-danger {
    color: #ff5757;
    border-color: #ff5757;
}

.btn-outline-danger:hover {
    background-color: #ff5757;
    color: white;
}