/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Tela de Login */
.login-card {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
}